-# Expected variables:
-#		gallery - Gallery of images to display
-#		cols - # of columns

- if gallery.present?
	%section.photos.photos2.row
		.columns.small-12.small-centered
			%h3= gallery.title
			%ul{class: "small-block-grid-#{cols}"}
				- index = 0
				- gallery.photos.each do |photo|
					- break if index == cols
					- index += 1
					%li
						= link_to photo.url, title: photo.title do
							=image_tag(photo.image.url, alt: photo.title, size: '320x220')
							%h5= photo.title


