- photo      ||= index_branch

%li{:id => dom_id(photo)}
  .item
    =image_tag(photo.image.url(:admin_thumb), :class => 'thumb dragger')
    =photo.title
          
    .btn-group.btn-group-sm
      = link_to "Crop", crop_admin_gallery_gallery_photo_path(@gallery, photo), :class => 'btn btn-default'   if photo.force_aspect?
      = link_to t('.edit'), edit_admin_gallery_gallery_photo_path(@gallery, photo), :class => 'btn btn-default'
      = link_to t('.delete'), admin_gallery_gallery_photo_path(@gallery, photo), :method => :delete, :data => {:confirm => 'Are you sure?'}, :class => 'btn btn-danger'
    
